.App {
  text-align: center;
  height:100vh
}

.answer{
  color:red
}

.guessSpace{
  width:50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:1em;
}

.topBar{
  margin-bottom: 2em;
}

.cheat{
  position: absolute;
  bottom: 0;
  right: 0;
  color:#1976d2;
}

.cheat:hover{
  cursor:pointer;
}

@media only screen and (max-width: 800px) {
  .guessSpace {
    width:80%;
  }
}
